* {
	margin: 0;
	padding: 0;
	color: #e9e9e9;
}
@font-face{
	font-family:'ww';
	src:url("./num.ttf");
}

li {
	list-style: none;
	font-family: arial;
	font-size: 24px;
	

}

header {
	height: 80px;
	text-align: center;
	line-height: 100px;
	color: #e9e9e9;
	font-size: 35px;
	font-weight: bold;
	font-family:"微软雅黑";
	position:relative;
}
.header_left{width:240px;height:80px;position:absolute;left:15%;top:10px;background:url("./image/title1.png") no-repeat center;}
.header_right{width:240px;height:80px;position:absolute;right:15%;top:10px;background:url("./image/title2.png") no-repeat center;}

nav {
	width: 96%;
	height: 50px;
	/*border: 1px solid lightslategray;*/
	margin: 0 auto;
	font-size: 24px;
}

nav  ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 50px;
	margin: 0 10px;
	color: #e9e9e9;
	font-size: 24px;
}

body {
	height: 800px;
	background: #323b50 url("./image/bgbox3.png");
}


/*body{background:#fff ;height:800px;}*/

.main {
	width: 100%;
	height: 600px;
	margin: 0 auto;
	
}

.part1 {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 10px;*/
}

.part2 {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	/*margin-bottom: 10px;*/
}

.qiuti {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 130px;
	left: 53%;
	transform: translateX(-50%);
	background: url("./image/bg3.gif") no-repeat;
	z-index: -20;
}

.dataWarp{
	width:350px;
	height: 350px;
	float: left;
	flex: 1;
	margin:0 10px;
	/*background: pink;*/
	padding: 20px 0 0 0;
	background: url(image/bgborder.png) no-repeat;
	filter:alpha(opacity=20)
	/*background-color: rgba(0,0,0,0.1);*/
	background-size: 100% 100%;
}
.dataWarp2{
	/*width:350px;*/
	height: 330px;
	float: left;
	flex: 1;
	margin:0 10px;
	/*background: pink;*/
	padding: 4px 0 10PX 0;
	background: url(image/bgborder.png) no-repeat;
	filter:alpha(opacity=20)
	/*background-color: rgba(0,0,0,0.1);*/
	/*background-size:100% 150%;*/
}
#dataWarp5{
	/*width:350px;*/
	height: 330px;
	float: left;
	flex: 1;
	padding: 20px 0 0 0;
	background: url(image/bgborder.png) no-repeat;
	filter:alpha(opacity=20)
	background-size:100% 100%;
}
#dataWarp3{
	width:350px;
	height: 350px;
	margin:0 10px;
	/*background: pink;*/
	padding: 4px 0px 10PX;
	background: url(image/bgborder2.png) no-repeat;
	filter:alpha(opacity=20);
	float: left;
	z-index: 100;
	flex: 2;
	margin: 0 10px;
	/*background-color: rgba(0,0,0,0.1);*/
	background-size: 100% 100%;
}

#main1,
#main2,
#main3,
#main4 {
	margin: auto;
	width: 24%;
	height:80px;
	
	z-index: 100;
/*	flex: 1;*/
	
	position:relative;
	
	/*background:url('./image/bgborder3.png') no-repeat ;
	 filter: opacity(95%);
	background-size:cover;*/
	};


#main2,
#main3,
#main4 {
	margin-left: 10px;
}

#main5,
#main7 {
	margin: auto;
	/*z-index: 100;*/
	
	/*background:url('./image/bgborder3.png') no-repeat;
	background-size:cover;*/
}

#main6 {
	float: left;
	z-index: 100;
	flex: 2;
	margin: 0 auto;
	/*background:  url('./image/bgborder2.png') no-repeat;
	background-size:cover;*/
	

}

p {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.part6-1 {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.part6-2 {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

#main_61,
#main_62,
#main_63 {
	width: 170px;
	height: 170px;
	float: left;
	flex: 1;
}

#main_64 {
	width: 170px;
	height: 170px;
	float: left;
	flex: 1;
}

#main_65 {
	width: 400px;
	height: 170px;
	float: left;
	flex: 2;
}

/*.up{width:300px;height:500px;position:absolute;top:100px;left:100px;background:transparent;overflow:hidden;opacity:0.2;z-index:-10}*/
/*.up li:nth-child(1){width:100%;animation:upup 2s linear  infinite;}*/


/*.up li:nth-child(3){width:100%;animation:upup 5s infinite;}
.up li:nth-child(4){width:100%;animation:upup 8s infinite;}
.up li:nth-child(5){width:100%;animation:upup 10s infinite;}*/


/*@keyframes upup{
	from{margin-top:-10px;}
	to{margin-top:-60px;}
}*/


